<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
        @page {
            size: 21cm 29.7cm;
            margin: 20mm 45mm 20mm 45mm;
            /* change the margins as you want them to be. */
        }
    </style>
</head>

<body style="background-color:#FFFFFF;">

    <div>

        <!-- CHANGEMENT DE PARTIE -->
        <div width='90%' style='border-left: rgb(0,201,0);border-left-width: 3px;border-left-style: solid;padding-left:10px;margin-top:50px;'>
            <span style='color:black;font-size: 15px;font-family: Arial, Helvetica, sans-serif'>AUTO-CERTIFICATION DE RESIDENCE FISCALE</span>
        </div>

        <!-- BLOC DE TEXTE -->
        <div width='90%' style='margin-top:50px;'>
            <span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>
                
                        En application :
                        <br>&#x2022; de l'accord relatif &#xE0; l'&#xE9;change automatique et obligatoire d'informations en mati&#xE8;re fiscale entre les pays de l'Union Europ&#xE9;enne conclu le 29 octobre 2014 &#xE0; Berlin,
                        <br>&#x2022; des accords bilat&#xE9;raux ou multilat&#xE9;raux sign&#xE9;s par la R&#xE9;publique fran&#xE7;aise en la mati&#xE8;re,
                        <br>&#x2022; des r&#xE8;gles &#xE9;dict&#xE9;es par le gouvernement am&#xE9;ricain en mati&#xE8;re de lutte contre l'&#xE9;vasion fiscale (loi FATCA - Foreign Account Tax Compliance Act - loi fiscale sur la d&#xE9;claration des avoirs am&#xE9;ricains investis &#xE0; l'&#xE9;tranger) et de l'accord subs&#xE9;quent conclu le 14 novembre 2013 entre les gouvernements fran&#xE7;ais et am&#xE9;ricain ;
                        
                        
                        <br><br>Generali Vie est dans l'obligation de vous demander des informations compl&#xE9;mentaires relatives &#xE0; la situation fiscale du Souscripteur/Assur&#xE9; du contrat afin de d&#xE9;terminer de quel(s) pays il est contribuable et/ou r&#xE9;sident &#xE0; des fins fiscales.
                        <br>Ce document est de nature d&#xE9;clarative. Pour cette raison, seul le Souscripteur/Assur&#xE9; (ou toute personne habilit&#xE9;e &#xE0; le repr&#xE9;senter l&#xE9;galement) est en mesure de faire les d&#xE9;clarations constitu&#xE9;es par les r&#xE9;ponses au pr&#xE9;sent questionnaire. Generali Vie n'est pas habilit&#xE9;e &#xE0; remplir ce document pour votre compte. Si vous avez des questions sur la fa&#xE7;on de remplir cette section ou comment d&#xE9;terminer votre r&#xE9;sidence fiscale, nous vous invitons &#xE0; interroger l'(les) autorit&#xE9;(s) fiscale(s) comp&#xE9;tente(s).
                        
                        
                        <br><br><i>Etes-vous citoyen des Etats-Unis d'Am&#xE9;rique ? </i><b>NON</b>
                        <br><i>Etes-vous r&#xE9;sident fiscal des Etats-Unis d'Am&#xE9;rique (*) ?</i> <b>NON</b>
                        <br><i>Poss&#xE9;dez-vous un num&#xE9;ro d'immatriculation fiscal des Etats-Unis d'Am&#xE9;rique (TIN) tout en &#xE9;tant pas/ plus r&#xE9;sident fiscal des Etats-Unis d'Am&#xE9;rique ? </i><b>NON</b>
                        
                        
                        <br><br>Etes-vous r&#xE9;sident fiscal dans un ou plusieurs pays autre(s) que la France ? {{ otherTaxCountry }}
                        <br>Nom du pays : {{ taxCountry }}
                        <br>NIF : {{ nif }}
                        <br>Adresse de r&#xE9;sidence fiscale : {{ taxAddress }}
                        
                        
                        <br><br>(*) La d&#xE9;finition de r&#xE9;sident fiscal des &#xE9;tats-Unis d'Am&#xE9;rique au sens de la r&#xE9;glementation FATCA ainsi que la m&#xE9;thode d'appr&#xE9;ciation de la r&#xE9;sidence fiscale sont indiqu&#xE9;es &#xE0; l'article &#xAB; R&#xE9;glementation relative &#xE0; l'&#xE9;change automatique de renseignements en mati&#xE8;re fiscale &#xBB; de la Note d'information valant Conditions g&#xE9;n&#xE9;rales.
                        
                        
                        <br><br>Le (la) Souscripteur(trice) s'engage &#xE0; signaler &#xE0; Generali Vie, dans les meilleurs d&#xE9;lais tout changement de pays de r&#xE9;sidence fiscale &#xE0; d&#xE9;faut de quoi il (elle) encoure l'amende de 1500 euros pr&#xE9;vue &#xE0; l'article 1740 C du Code g&#xE9;n&#xE9;ral des imp&#xF4;ts.
                
                </span>
        </div>

        <!-- BAS DE PAGE -->
        <table width='90%' style='margin:auto;padding-top: 10px; margin-top:30px'>
            <tbody width='100%'>
                <tr width='100%'>
                    <td width='40%'>
                        <img height="auto" src="../images/logo_generali.jpg" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:30%;font-size:13px;" width="240">
                    </td>
                    <td width='20%'>
                    </td>
                    <td width='40%' style='text-align: right'>
                        <img height="auto" src="../images/logo_mpp.jpg" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:30%;font-size:13px;" width="240">
                    </td>
                </tr>
                <tr width='100%' valign='top'>
                    <td width='40%'>
                        <span style='color:black;font-size: 7px;font-family: Arial, Helvetica, sans-serif'>Generali Vie, Soci&#xE9;t&#xE9; Anonyme au capital de 336 872 976 euros, Entreprise r&#xE9;gie par le Code des Assurances - 602 062 481 RCS Paris,</span>
                        <br><span style='color:black;font-size: 7px;font-family: Arial, Helvetica, sans-serif'>Si&#xE8;ge social : 2 rue Pillet-Will - 75009 Paris</span>
                        <br><span style='color:black;font-size: 7px;font-family: Arial, Helvetica, sans-serif'>Soci&#xE9;t&#xE9; appartenant au Groupe Generali, immatricul&#xE9; sur le registre italien des groupes d'assurances sous le num&#xE9;ro 026</span>
                    </td>
                    <td width='20%'>
                    </td>
                    <td width='40%'>
                        <span style='color:black;font-size: 7px;font-family: Arial, Helvetica, sans-serif'>Mon Petit Placement, Soci&#xE9;t&#xE9; par Actions Simplifi&#xE9;es au capital de 40 000 euros - 831 051 453 RCS LYON</span>
                        <br><span style='color:black;font-size: 7px;font-family: Arial, Helvetica, sans-serif'>Si&#xE8;ge social : 13 Chemin du Saquin - 69130 Ecully</span>
                        <br><span style='color:black;font-size: 7px;font-family: Arial, Helvetica, sans-serif'>Enregistré à l'ORIAS sous le n°17005501 en qualité de courtier en assurance</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div width='90%' style='margin-top:50px;'>
            <span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>
                    PAC7001BSA (7001/7002) - Septembre 2020 - Proposition d'assurance 2/2 - Bulletin de souscription - <b>Mon Petit Placement Vie</b> - Gestion des Imprimés
            </span>
        </div>

    </div>

</body>

</html>