<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
        @page {
            size: 21cm 29.7cm;
            margin: 20mm 45mm 20mm 45mm;
            /* change the margins as you want them to be. */
        }
    </style>
</head>

<body style="background-color:#FFFFFF;">

    <div>

        <!-- CHANGEMENT DE PARTIE -->
        <div width='90%' style='border-left: rgb(0,201,0);border-left-width: 3px;border-left-style: solid;padding-left:10px;margin-top:50px;'>
            <span style='color:black;font-size: 15px;font-family: Arial, Helvetica, sans-serif'>SIGNATURE</span>
        </div>

        <!-- BLOC DE TEXTE -->
        <div width='90%' style='margin-top:50px;text-align: center'>
            <span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif;'><i>
                    Merci de bien vouloir apposer votre signature dans le cadre ci-dessous

                    <br>A d&#xE9;faut de r&#xE9;ception r&#xE9;ception de vos Conditions particuli&#xE8;res dans un d&#xE9;lai de trente (30) jours, veuillez en aviser l'Assureur par lettre recommand&#xE9;e avec avis de r&#xE9;ception.
                </i></span>
        </div>
        <div width='90%' style='margin-top:50px;'>
            <span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>

                Le Souscripteur atteste avoir pr&#xE9;alablement re&#xE7;u, en temps utile, le Document d'Informations Cl&#xE9;s du contrat Mon Petit Placement Vie ainsi que, le cas &#xE9;ch&#xE9;ant, tout autre document d'information requis dans le cadre du R&#xE8;glement (UE) n&#xB0;1286/2014 du 26 novembre 2014, et en avoir pris connaissance.


                <br><br>Le Souscripteur reconna&#xEE;t avoir re&#xE7;u et pris connaissance de la Note d'information valant Conditions g&#xE9;n&#xE9;rales du contrat Mon Petit Placement Vie (r&#xE9;f. PAC7001CGA) remise avec un exemplaire du pr&#xE9;sent Bulletin de souscription, et notamment des conditions d'exercice du droit de renonciation.


                <br><br>Le Souscripteur reconna&#xEE;t avoir re&#xE7;u les documents d'informations cl&#xE9;s pour l'investisseur, notes d&#xE9;taill&#xE9;es et/ou tout autre document d'information financi&#xE8;re &#xE9;quivalent pr&#xE9;vu par la r&#xE9;glementation, des supports en unit&#xE9;s de compte s&#xE9;lectionn&#xE9;s dans le pr&#xE9;sent Bulletin de souscription, tant pour son versement initial que pour les options de gestion qu'il a choisies, et pris connaissance de leurs principales caract&#xE9;ristiques.
                <br>Les documents d'informations cl&#xE9;s pour l'investisseur, notes d&#xE9;taill&#xE9;es et/ou tout autre document d'information financi&#xE8;re &#xE9;quivalent pr&#xE9;vu par la r&#xE9;glementation, des supports en unit&#xE9;s de compte pr&#xE9;sents au contrat sont disponibles sur simple demande aupr&#xE8;s de son Courtier ou via le site internet des soci&#xE9;t&#xE9;s de gestion.


                <br><br>Le Souscripteur d&#xE9;clare avoir &#xE9;t&#xE9; clairement inform&#xE9; qu'en investissant sur des supports en unit&#xE9;s de compte, il prenait &#xE0; sa charge le risque li&#xE9; &#xE0; la variation des cours de chacun de ceux qu'il a souscrits.


                <br><br>Le Souscripteur peut renoncer au pr&#xE9;sent contrat pendant trente (30) jours calendaires r&#xE9;volus &#xE0; compter de la date de signature du Bulletin de souscription. Cette renonciation doit &#xEA;tre faite par lettre recommand&#xE9;e avec avis de r&#xE9;ception, envoy&#xE9;e &#xE0; l'adresse suivante : Generali Vie - TSA 70007 - 75447 Paris Cedex 09. Elle peut &#xEA;tre faite suivant le mod&#xE8;le de lettre inclus dans la Note d'information.
                
            </span>
        </div>

        <table width='90%' style='margin:auto;padding-top: 10px; margin-top:30px'>
            <tbody width='100%'>
                <tr width='100%' style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>
                    <td width='50%'>
                        Fait &#xE0; : Lyon
                        <br>Le : {{ resp.todayDate }}
                    </td>
                    <td width='50%' style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif;border: solid;border-width: 1px;padding-bottom: 80px'>
                        Signature Souscripteur(trice) / Assur&#xE9;(e)

                    </td>
                </tr>
            </tbody>
        </table>

        <div width='90%' style='margin-top:50px;'>
            <span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>

                    Les donn&#xE9;es personnelles du Souscripteur :

                    <br>Pour toute information sur le traitement de ses donn&#xE9;es personnelles et sur ses droits, le Souscripteur est invit&#xE9; &#xE0; consulter l'annexe &#xAB; Information sur le traitement de vos donn&#xE9;es personnelles &#xBB; figurant dans la Note d'information valant Conditions g&#xE9;n&#xE9;rales du contrat ou sur le site www.monpetitplacement.fr.
                
            </span>
        </div>

        <!-- BAS DE PAGE -->
        <table width='90%' style='margin:auto;padding-top: 10px; margin-top:30px'>
            <tbody width='100%'>
                <tr width='100%'>
                    <td width='40%'>
                        <img height="auto" src="../images/logo_generali.jpg" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:30%;font-size:13px;" width="240">
                    </td>
                    <td width='20%'>
                    </td>
                    <td width='40%' style='text-align: right'>
                        <img height="auto" src="../images/logo_mpp.jpg" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:30%;font-size:13px;" width="240">
                    </td>
                </tr>
                <tr width='100%' valign='top'>
                    <td width='40%'>
                        <span style='color:black;font-size: 7px;font-family: Arial, Helvetica, sans-serif'>Generali Vie, Soci&#xE9;t&#xE9; Anonyme au capital de 336 872 976 euros, Entreprise r&#xE9;gie par le Code des Assurances - 602 062 481 RCS Paris,</span>
                        <br><span style='color:black;font-size: 7px;font-family: Arial, Helvetica, sans-serif'>Si&#xE8;ge social : 2 rue Pillet-Will - 75009 Paris</span>
                        <br><span style='color:black;font-size: 7px;font-family: Arial, Helvetica, sans-serif'>Soci&#xE9;t&#xE9; appartenant au Groupe Generali, immatricul&#xE9; sur le registre italien des groupes d'assurances sous le num&#xE9;ro 026</span>
                    </td>
                    <td width='20%'>
                    </td>
                    <td width='40%'>
                        <span style='color:black;font-size: 7px;font-family: Arial, Helvetica, sans-serif'>Mon Petit Placement, Soci&#xE9;t&#xE9; par Actions Simplifi&#xE9;es au capital de 40 000 euros - 831 051 453 RCS LYON</span>
                        <br><span style='color:black;font-size: 7px;font-family: Arial, Helvetica, sans-serif'>Si&#xE8;ge social : 13 Chemin du Saquin - 69130 Ecully</span>
                        <br><span style='color:black;font-size: 7px;font-family: Arial, Helvetica, sans-serif'>Enregistré à l'ORIAS sous le n°17005501 en qualité de courtier en assurance</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div width='90%' style='margin-top:50px;'>
            <span style='color:black;font-size: 10px;font-family: Arial, Helvetica, sans-serif'>
                    PAC7001BSA (7001/7002) - Septembre 2020 - Proposition d'assurance 2/2 - Bulletin de souscription - <b>Mon Petit Placement Vie</b> - Gestion des Imprimés
            </span>
        </div>

    </div>

</body>

</html>